__pycache__
data/
results/
computed_descriptors*/
wandb
*.txt
.vscode

# Week 2
Week2/logs/
Week2/experiments/
# Week2/*.png
# Week2/*.pth
Week2/__pycache__/
svm_experiments/
Week2/best_models/
Week2/plots_svm/
Week2/results_best_svm/
